<%- include('../template/header',{title: 'PiWall client'})%> 
<%- include('../template/navbar',{active:'client'}) %>

<div class='page-content p-3'>
    <button id='find_client' class="btn btn-sm btn-primary mt-2 mb-2" type="button">
        <span class="spinner-border spinner-border-sm spinner-find-client d-none" role="status" aria-hidden="true"></span>
        Search device
      </button>
    
    <table class="table">
        <thead>
            <th>#</th>
            <th>Ip address</th>
            <th>Hostname</th>
            <th>Mac</th>
            <th>Display number</th>
            <th></th>
        </thead>
        <tbody>
            <% clients.forEach(client => { %>
                <tr>
                  <td><%- client.id %></td>
                  <td><%- client.ip %></td>
                  <td><%- client.hostname %></td>
                  <td><%- client.mac %></td>
                  <td><%- Object.keys(client.displays).length || 0 %></td>
                  <td>
                    <%- include('dropdown/tools',{client:client})%>
                  </td>
                </tr>
                <% }) %> 
        </tbody>
    </table>
  </div>


<script>
$(document).on('click','.delete-client',(event) =>{
	var id = event.currentTarget.dataset.clientId
	confirmDialog('delete client','do you want to proceed to remove the client?',(response) =>{
		if(response){
			window.location.href = '/client/delete/'+id
		}
	})
})

$(document).on('click',".config-remote-device",event =>{
  var id = event.currentTarget.dataset.id
  
  if(id === undefined){
    console.log('No id')
    return;
  }

  console.log(id)
  axios.get('getConfig/'+id)
  .then(response =>{
    bootbox.dialog({
      size: 'extra-large',
      message: '<pre id="json-renderer"></pre>',
      closeButton: true
    });

    $('#json-renderer').jsonViewer(response.data);
  })
})


$('#find_client').on('click',(event) =>{
  notifier.asyncBlock(
    axios.get('/client/findNewClient'),
    resp => {
      location.reload()
    },
  );
})

$('.set-bookmark').on('click',(event) =>{
  var id = event.currentTarget.dataset.clientId
})
</script>