<%- include('../template/header',{title: global.appName +' controller'})%> 
<%- include('../template/navbar',{active:'controller'}) %>

<div class='row'>
  <div class="col-auto">
    <button id='sidebarCollapse' class='btn btn-sm btn-primary mt-2'>Show bookmarks</button>
  </div>
  <div class="col-auto">
    <%- include('dropdown/broadcastDropdown') %> 
  </div>
  <div class="col-auto">
    <%- include('dropdown/layoutsDropdown') %> 
  </div>
</div>

<div class='wrapper'>
  <nav id="sidebar" style="margin-top:30px;padding:5px;">
  <%- include('components/bookmarkList',{
    bookmarks: bookmarks
  }) %> 
  </nav>

  <div class="vl"></div>
  <div class='page-content p-3'>
   
    <%- include('components/clientList',{clients: clients})%> 
  </div>
</div>

<%- include('./modal/open_url'); %>
<%- include('./modal/open_bookmark'); %>

<script>
  $(document).ready((event) =>{
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
  });

    //load viewer image if screenshot is preload
    $('.device-image').each((index,element) =>{
      addImageViewer(element);
    })


    const containers = document.querySelectorAll('.BlockLayout'); 
    var deviceDroppedId = null;
    var overContainer = null;

    const droppable = new Draggable.Draggable(containers, {
      draggable: '.isDraggable',
      dropzone: '.isDropzone',
        mirror: {
          constrainDimensions: true,
        },
      });

      droppable.on('drag:stop', (evt) => {
        var bookmark_id = evt.originalSource.dataset.bookmarkId;
        var client_id = overContainer.dataset.id;
        if(bookmark_id && client_id){
          openBookmarkToClient(bookmark_id,client_id);
        }
      });

      droppable.on('drag:over:container', function (event) {
        overContainer = event.overContainer;
      })

      droppable.on('drag:out:container', function (event) {
        overContainer = null;
      })

  })

  $(document).on('click','.update-screenshot', event =>{
    var main_element = event.currentTarget.closest('.remote-client-item');
    var id = main_element.dataset.id
    axios.get(`/getScreenshot/${id}`)
    .then((response) =>{
      var image_element = $(main_element).find('.screen_image');
      if(image_element !=='ECONNABORTED'){
        image_element.attr('src',"data:image/png;base64,"+response.data);
        addImageViewer(image_element.get(0));
      }
    })
  })

  $(document).on('click','.reboot-remote-device', event =>{
    var main_element = event.currentTarget.closest('.remote-client-item');
    var id = main_element.dataset.id
    notifier.asyncBlock(
      axios.get(`/reboot/${id}`),
      resp => notifier.success(`the remote device has been rebooted`),
    );
  })

  $(document).on('click','.close-all-browser-page', event =>{
    confirmDialog('Close remote browser','Do you really want close all remote browser?',function (result) {
      if(result){
        var main_element = event.currentTarget.closest('.remote-client-item');
        var id = main_element.dataset.id
        simpleGet(`/closeRemoteBrowser/${id}`)
      }
    });
  })

  $(document).on('click','.show-osd-number',event =>{
    var main_element = event.currentTarget.closest('.remote-client-item');
    var id = main_element.dataset.id
    
    notifier.asyncBlock(
      axios.get(`/osd/${id}`),
      resp => notifier.success(),
    );
  })

  $(document).on('click','.send-url',event => {
    var element = event.currentTarget.closest('.remote-client-item');
    bootbox.prompt({
      title: "Specify the url", 
      centerVertical: true,
      callback: function(url){
        if(url){
          var regex = new RegExp(/[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)?/gi);
          if (url.match(regex) === null) {
            alert("Invalid url");
          } else {
            notifier.asyncBlock(
              axios.post('/openUrl',{
                id: element.dataset.id,
                url:url
                }),
              resp => {
                console.log('resp',resp)
                notifier.success(`${resp.data.length} posts has been loaded`)
              }
            );
          }
        }
      }
    });
  })

  //Broadcast
  $(".broadcast-close-browser").on('click',event =>{
    confirmDialog('attention', 'Do you want to proceed with this request? The command will be sent to all clients',(response) =>{
      if(response){
        simpleGet('/broadcast/closeBrowser')
      }
    })
  })

  $(".broadcast-show-osd-number").on('click',event =>{
    confirmDialog('attention', 'Do you want to proceed with this request? The command will be sent to all clients',(response) =>{
      if(response){
        simpleGet('/broadcast/showOsd')
      }
    })
  })

  $(".broadcast-fill-hostname").on('click',event =>{
    notifier.asyncBlock(
      axios.get('/client/fillsAllHostname'),
      resp => location.reload(),
    );
  })
  

  function clientItemExists(ip){
    var count = $(`[data-ipaddress="${ip}"]`).length;
    return count === 0 ? false : true;
  }



  function addImageViewer(element){
    new Viewer(element, {
      modal: true,
      backdrop: true,
      viewed() {},
    });
  }

  function openBookmarkToClient(bookmark_id,client_id){
    confirmDialog('Open bookmark','do you want to proceed to open this bookmark on your device?',(result) =>{
      if(result){
        simpleGet(`openBookmark/${bookmark_id}/${client_id}`)
      }
    })
  }
</script>

<style>
  .hostname{
    font-weight: bold;
    font-size: calc(1.3vw);
  }
  .wrapper {
    display: flex;
    align-items: stretch;
  }
  
    #sidebar {
      min-width: 350px;
      max-width: 350px;
      margin-left: -350px;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
  }
  
  #sidebar.active {
      margin-left: 0px;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
  }
  .vl {
    border-left: 2px solid black;
    height: 800px;
    margin-left: -2px;
  }

  .clientId{
    position: absolute;
    background: white;
    padding: 2px;
    color: #373737;
    border: 1px solid black;
    min-width: 25px;
  }
</style>