<div class="list-client p-3">
  <div id="sortable-client-container" class="row">
    <% clients.forEach((client) => { %>
      <div class="col-lg-3 col-sm-12 remote-client-item BlockLayout isDropzone" data-ipaddress="<%- client.ip %>" data-id="<%- client.id %>">
        <div class="row border" style="margin-left: 0px; margin-bottom: 15px">
          <div class="col-lg-6 col-sm-12 p-0">
            <span class='clientId'><%- client.id %></span>
            <img src="<%- client.screenshotPath === '' ? '/images/no_image.png' : client.screenshotPath %>" class='img-fluid cursor-pointer screen_image <%- client.screenshotPath === '' ? '' : 'device-image' %>' title="Click to open preview image">
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="hostname"><%- client.hostname %></div>
            <hr class='m-0'>
            <div class='row'>
              <div class="col-lg-12 col-md-12 font-weight-bold ip_address">
                <b>IP Address:</b> <%- client.ip %>
              </div>
              <div class="col-lg-12 col-md-12 mac_address">
                <b>MAC:</b><%- client.mac %>
              </div>
            </div>

            <%- include('dropdown/tools',{client:client})%> 
            <%- include('dropdown/bookmarks',{bookmarks:client.bookmarks,client:client})%> 
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<script>
$(document).on('click',".config-remote-device",event =>{
  var main_element = event.currentTarget.closest('.remote-client-item');
  var id = main_element.dataset.id
  
  axios.get('getConfig/'+id)
  .then(response =>{
    bootbox.dialog({
      size: 'extra-large',
      message: '<pre id="json-renderer"></pre>',
      closeButton: true
    });

    $('#json-renderer').jsonViewer(response.data);
  })
})
</script>