<div class="list-client p-3">
  <div id="sortable-client-container" class="row">
    <% clients.forEach((client) => { %>
      <div class="col-lg-3 col-sm-12 remote-client-item BlockLayout isDropzone" data-ipaddress="<%- client.ip %>" data-id="<%- client.id %>">
        <div class="row border" style="margin-left: 0px; margin-bottom: 15px">
          <div class="col-lg-6 col-sm-12 p-0">
            <img src="<%- client.screenshotPath === '' ? '/images/no_image.png' : client.screenshotPath %>" class='img-fluid cursor-pointer screen_image <%- client.screenshotPath === '' ? '' : 'device-image' %>' title="Click to open preview image">
          </div>
          <div class="col-lg-6 col-sm-12">
            <div>
              <div class="mb-1 font-weight-bold hostname"><%- client.hostname %> </div>
              <%# <i class='fas fa-arrows-alt float-right my-handle' title="drag to move device"></i> %>
            </div>
            <div>
              <small class="text-mute">
                <span class="p-2 font-weight-bold ip_address"><%- client.ip %> </span>
                <span class="mac_address"><%- client.mac %> </span>
              </small>
            </div>

            <div class="tools-icon">
              <i class="fas fa-paper-plane cursor-pointer send-url" title="open page in remote browser"></i>
              <i class="fas fa-camera cursor-pointer update-screenshot" title="take a screenshot"></i>
              <i class="fas fa-window-close cursor-pointer close-all-browser-page" title="close all remote browser page"></i>
              <i class="fas fa-terminal cursor-pointer open-terminal" title="open ssh connection"></i>
              <i class="fas fa-power-off cursor-pointer reboot-remote-device" title="reboot remote device"></i>
              <i class="fas fa-fingerprint cursor-pointer show-osd-number" title="show display number"></i>
              <i class="fas fa-info cursor-pointer config-remote-device" title="show config from remote device"></i>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<script>
$(document).on('click',".config-remote-device",event =>{
  var main_element = event.currentTarget.closest('.remote-client-item');
  var id = main_element.dataset.id
  
  axios.get('getConfig/'+id)
  .then(response =>{
    bootbox.dialog({
      size: 'extra-large',
      message: '<pre id="json-renderer"></pre>',
      closeButton: true
    });

    $('#json-renderer').jsonViewer(response.data);
  })
})
</script>