<div class="list-client p-3">
  <div id="sortable-client-container" class="row">
    <% clients.forEach((client) => { %>
      <div class="col-lg-3 col-sm-12 remote-client-item BlockLayout isDropzone" data-ipaddress="<%- client.ip %>" data-id="<%- client.id %>">
        <div class="row border" style="margin-left: 0px; margin-bottom: 15px">
          <div class="col-lg-6 col-sm-12 p-0">
            <span class='clientId cursor-pointer text-center' title="Display ID"><%- client.id %></span>
            <img src="<%- client.screenshotPath === '' ? '/images/no_image.png' : client.screenshotPath %>" class='img-fluid cursor-pointer screen_image <%- client.screenshotPath === '' ? '' : 'device-image' %>' title="Click to open preview image">
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class='flex'>
              <div class="hostname d-inline"><%- client.hostname %></div>
              <div>
                Ip address:
                <small class=''>
                  <%- client.ip %>
                  <a href="http://<%- client.ip %>:3000" target="_blank"><i class="fas fa-external-link-alt"></i></a>
                </small>
              </div>
            </div>
            <hr class='m-0'>

            <div class="">
              <div>
                <label for="" class="fw-bold">Bookmarks</label>
                <div class="float-end">
                  <%- include('dropdown/bookmarks',{bookmarks:client.bookmarks,client:client})%> 
                </div>
              </div>
              <div class="mt-2">
                <label for="" class="fw-bold">Tools</label>
                <div class="float-end">
                  <%- include('dropdown/tools',{client:client})%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>